/.lake
docbuild/.lake
ClassificationOfSubgroups/Zulip2.lean
ClassificationOfSubgroups/Zulip1.lean
ClassificationOfSubgroups/Zulip3.lean
ClassificationOfSubgroups/LeanClub.lean
ClassificationOfSubgroups/LeanClubSol.lean
blueprint/web
blueprint/print